* {
    margin: 0;
    padding: 0;
}

.box {
    border: 2px solid green;
    width: 30%;
    margin: 10px;
}

.parent {
    border: 2px solid rgb(85, 85, 255);
    background-color: lavender;
    margin: 10px;
    width: 50%;
}

.child {
    border: 2px solid rgb(82, 175, 82);
    background-color: azure;
    width: 50%;
}

.container1 {
    margin: 10px;
    border: 2px solid rgb(55, 160, 246);
    background-color: rgb(159, 186, 255);
    height: 100vh;
    width: 50vw;
}

.container2 {
    margin: 10px;
    border: 2px solid rgb(82, 175, 82);
    background-color: azure;
    font-size: 50px;
}

.box {
    background-color: lightblue;
    border: 5px solid darkblue;
    padding: 10px;
    margin: 1em 0;
}

.wrapper {
    font-size: 1em;
}

.px {
    width: 200px;
}

.vw {
    width: 10vw;
}

.em {
    width: 10em;
}