/* Universal selector---> * --> used for selecting everything */
* {
    padding: 0;
    margin: 0;
}

h1 {
    background-color: aquamarine;
    border: solid green 5px;
    border-radius: 10px;
    width: 350px;
    margin: 10px;
}

span {
    background-color: aquamarine;
    border: solid green 5px;
    border-radius: 10px;
    width: 350px;
    margin: 10px;
}

.p1 {
    background-color: lavenderblush;
    border: 5px rgb(255, 210, 225) solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 150px;
    margin: 10px;
}

.p2 {
    background-color: lavender;
    border-bottom: 5px solid rgb(214, 214, 255);
    border-top: 5px solid rgb(214, 214, 255);
    border-radius: 10px;
    margin: 10px;
}

.p3 {
    background-color: azure;
    border-left: 5px solid rgb(193, 255, 255);
    border-right: 5px solid rgb(193, 255, 255);
    border-radius: 10px;
    margin: 10px;
}

#p1 {
    background-color: rgb(200, 200, 253);
    border: 5px rgb(156, 156, 255) solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#p2 {
    background-color: rgb(200, 200, 253);
    border: 5px rgb(156, 156, 255) solid;
    border-radius: 10px;
    margin: 100px;
}

#p3 {
    background-color: rgb(200, 200, 253);
    border: 5px rgb(156, 156, 255) solid;
    border-radius: 10px;
    padding: 10px 20px 30px 40px;
    margin: 50px 100px;
}