* {
    margin: 0;
    padding: 0;
}

.container1 {
    background-color: lavender;
    border: 1px solid rgb(195, 195, 255);
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.container2 {
    background-color: lavender;
    border: 1px solid rgb(195, 195, 255);
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: start;
    align-items: start;
}

.container3 {
    background-color: lavender;
    border: 1px solid rgb(195, 195, 255);
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: end;
    align-items: end;
}

.container4 {
    background-color: lavender;
    border: 1px solid rgb(195, 195, 255);
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-between;
}

.container5 {
    background-color: lavender;
    border: 1px solid rgb(195, 195, 255);
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-around;
}

.container6 {
    background-color: lavender;
    border: 1px solid rgb(195, 195, 255);
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-evenly;
}

.container7 {
    background-color: lavender;
    border: 1px solid rgb(195, 195, 255);
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    justify-content: start;
    align-items: start;
    align-content: end;
}

.container8 {
    background-color: lavender;
    border: 1px solid rgb(195, 195, 255);
    margin: 10px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    height: 500px;
    justify-content: start;
    align-items: start;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid rgba(199, 199, 199, 0.353);
    margin: 10px;
}

#i1 {
    background-color: rgb(183, 223, 255);
}

#i2 {
    background-color: rgb(198, 255, 198);
}

#i3 {
    background-color: rgb(192, 243, 255);
}

#i4 {
    background-color: rgb(211, 200, 255);
}