* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #020024;
    background: linear-gradient(75deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 38%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 580px;
    background: #d4d4ff;
    background: linear-gradient(1deg, rgba(212, 212, 255, 1) 0%, rgba(166, 166, 224, 1) 38%, rgba(140, 140, 255, 1) 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.imgcard{
    width: 95%;
    height: 45%;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcard img {
    height: 95%;
}

.card h2{
    font-weight: bold;
    font-size: 24px;
}

.card p{
    font-size: 18px;
}