.counter-container{
    background-color: lavender;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem;
    border: 2px solid rgb(158, 158, 255);
    border-radius: 0.4rem;
}
