body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.calculator-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    color: rgb(66, 72, 85);
}

.card-container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 30px;
}

.input-card {
    margin-bottom: 30px;
}

.input-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.input-row label {
    font-size: 16px;
    color: rgb(49, 49, 69);
    width: 260px;
    padding-right: 20px;
    margin-right: 15px;
}

.value-input {
    border: none;
    border-bottom: 2px solid rgb(68, 104, 171);
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0;
    color: rgb(30, 44, 68);
    flex-grow: 1;
}

.value-input.inline-value {
    width: 30px;
    flex-grow: 0;
}

.slider-container {
    margin-bottom: 25px;
}

.teal-slider {
    /* -webkit-appearance: none; */
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.teal-slider::-webkit-slider-thumb {
    /* -webkit-appearance: none; */
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(52, 102, 194);
    cursor: pointer;
    border: 3px solid white;
}

.input-radio-button {
    margin: 5px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-radio-button .input-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.output-card {
    background-color: rgb(52, 102, 194);
    color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.output-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.output-row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.output-row .HRA-text {
    font-size: 18px;
    font-weight: 700;
    display: block;
}

.output-row .HRA-value {
    font-size: 18px;
    font-weight: 400;
}

.separator-line {
    border: 0;
    border-top: 15px solid rgb(152, 160, 233);
    margin: 15px 0;
}